.breed-info {
  &__img {
    position: relative;
    img {
      width: 640px;
      height: 360px;
      border-radius: 20px;
      object-fit: cover;
    }
    &__position {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 35%);
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 10px;
      background: #ffffff;
      border-radius: 20px;
      span {
        width: 10px;
        height: 10px;
        background: #fbe0dc;
        border-radius: 10px;
        &.active {
          background: #ff868e;
        }
      }
    }
  }
  &__content {
    margin-top: 50px;
    border: 2px solid #fbe0dc;
    border-radius: 20px;
    padding: 25px 40px 40px 40px;
    position: relative;
    &__breed {
      text-align: center;
      background: #ffffff;
      padding: 0 40px;
      font-weight: 500;
      font-size: 24px;
      line-height: 52px;
      color: #1d1d1d;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -55%);
      text-transform: capitalize;
    }
    &__name {
      font-weight: 500;
      font-size: 20px;
      line-height: 29px;
      color: #8c8c8c;
      text-align: center;
      margin-bottom: 20px;
    }
    &__info {
      display: flex;
      gap: 20px;
      align-items: flex-start;
      & > * {
        flex: 1;
      }
      &__left {
        p {
          font-weight: 600;
          font-size: 16px;
          line-height: 23px;
          color: #1d1d1d;
          span {
            font-weight: 500;
            color: #8c8c8c;
          }
        }
      }
      &__right {
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
          font-weight: 600;
          font-size: 16px;
          line-height: 23px;
          color: #1d1d1d;
          span {
            font-weight: 500;
            color: #8c8c8c;
          }
        }
      }
    }
  }
  &__empty {
    text-align: center;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 500;
  }
}
