.search {
  &__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: var(--black50);
    margin-bottom: 20px;
    a {
      color: var(--black50);
      text-decoration: none;
    }
    span {
      text-transform: capitalize;
      font-weight: 500;
      color: var(--black100);
    }
  }
  &__empty {
    text-align: center;
    color: var(--black50);
    font-size: 20px;
  }
}
