.gallery {
  &__upload-btn {
    border: none;
    margin-left: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    padding: 0 30px;
    background: var(--pink50);
    border-radius: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--pink100);
    transition: color 0.1s ease-out, background 0.1s ease-out;
    &:hover {
      color: var(--static-white110);
      background: var(--pink100);
      svg path {
        fill: var(--static-white110);
      }
    }
  }
  &__controls {
    background: var(--white100);
    border-radius: 20px;
    padding: 15px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 10px;
    column-gap: 20px;
    margin-bottom: 20px;
    & > div:last-child {
      display: flex;
      align-items: flex-end;
      gap: 10px;
      & > button {
        border: 2px solid var(--white110);
        cursor: pointer;
        background: var(--white110);
        border-radius: 10px;
        padding: 10px;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          border: 2px solid var(--pink50);
        }
      }
    }
  }
}
