.voting__content {
  &__head {
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;
    height: 360px;
    width: 640px;
    border-radius: 20px;
    background: var(--pink100-static-transperent-60);
    & > img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
    }
    &__btns {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 40%);
      display: flex;
      align-items: center;
      gap: 5px;
      background: var(--white-black);
      border: 4px solid var(--white-black);
      border-radius: 20px;
      overflow: hidden;
      button svg path {
        fill: var(--static-white110);
      }
      & button:nth-child(1) {
        background: var(--green100);
        &:not(:active):hover {
          background: var(--green100-transperent-30);
          svg > path {
            fill: var(--green100);
          }
        }
      }
      & button:nth-child(2) {
        background: var(--pink100);
        &:not(:active):hover {
          background: var(--pink100-transperent-30);
          svg > path {
            fill: var(--pink100);
          }
        }
      }
      & button:nth-child(3) {
        background: var(--orange100);
        &:not(:active):hover {
          background: var(--orange100-transperent-30);
          svg > path {
            fill: var(--orange100);
          }
        }
      }
    }
  }
  &__logs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__empty {
      padding: 15px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: var(--black50);
      }
    }
  }
}
