.voting__content__logs__item {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  background: var(--white100);
  border-radius: 10px;
  & > svg {
    margin-left: auto;
  }
  &.like svg path {
    fill: var(--green100);
  }
  &.dislike svg path {
    fill: var(--orange100);
  }
  &.favourite svg path {
    fill: var(--pink100);
  }

  &-date {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black100);
    background: var(--white110);
    border-radius: 5px;
    padding: 3px 10px;
  }
  &-info {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black50);
    & > span {
      color: var(--black100);
      font-weight: 500;
    }
  }
}
