.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: var(--black100-transperent-50);
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  overflow-y: scroll;
  &-adaptive {
    justify-content: center;
    background: var(--white100);
  }
  &__content {
    width: 680px;
    background: var(--white110);
    border-radius: 20px;
    padding: 20px;
    height: fit-content;
    & > button {
      margin-left: auto;
    }
    &-adaptive {
      background: var(--white100);
    }
  }
}
