.big_btn {
  all: unset;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@mixin styles-middle_btn {
  border: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background: var(--white110);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: var(--pink50);
  }
}

.middle_btn {
  @include styles-middle_btn();
}

a {
  &.active {
    .middle_btn {
      background: var(--pink100);
    }
    svg path {
      fill: var(--static-white110);
    }
  }
}

.small_btn {
  all: unset;
  cursor: pointer;
  background: var(--pink50);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease-out;

  &:hover {
    background: var(--pink100) !important;
    svg path {
      fill: var(--static-white110);
    }
  }
}
