.big_btn {
  all: unset;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

a {
  .middle_btn {
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background: #fbe0dc;
    }
  }
  &.active {
    .middle_btn {
      background: #ff868e;
    }
    svg path {
      fill: white;
    }
  }
}

.small_btn {
  all: unset;
  cursor: pointer;
  background: #fbe0dc;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease-out;

  &:hover {
    background: #ff868e;
    svg path {
      fill: white;
    }
  }
}
