.home {
  column-gap: 135px;
  display: grid;
  grid-template-columns: 1fr 680px;
  justify-items: end;
  &.tablet,
  &.mobile {
    display: block;
    main {
      display: none;
    }
  }
  &.hidde {
    display: none;
  }
}
