.header {
  width: 445px;
  margin: 0 auto;
  justify-self: center;
  &__head {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {
      display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;
      img {
        width: 25px;
        height: 25px;
      }
      p {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: var(--black100);
      }
    }
    &__theme {
      display: flex;
      align-items: center;
      gap: 5px;
      &__icon {
        background: var(--white110);
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
      &__toggle {
        border: none;
        width: 45px;
        height: 25px;
        border-radius: 50px;
        background: var(--pink50);
        padding: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        span {
          display: block;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: var(--pink100);
        }
        &-active {
          justify-content: flex-end;
        }
      }
    }
  }

  h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 58px;
    color: var(--black100);
    margin-bottom: 10px;
    & + p {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 29px;
      color: var(--black50);
      margin-bottom: 60px;
    }
  }
  h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: var(--black100);
    margin-bottom: 20px;
  }
  .nav {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > li {
        & > a {
          text-decoration: none;
          &.active {
            & p {
              color: var(--static-white110);
              background: var(--pink100);
            }
          }
          &:not(.active):hover {
            & .img {
              border: 4px solid var(--toggled-white110) !important;
            }
            & p {
              background: var(--pink50);
            }
          }
        }
        .img {
          width: 138px;
          height: 198px;
          max-width: 138px;
          max-height: 198px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: border 0.3s ease-in-out;
        }
        p {
          margin-top: 10px;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 2px;
          color: var(--pink100);
          background: var(--white110);
          border-radius: 10px;
          width: 138px;
          height: 36px;
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: background 0.3s ease-in-out;
        }
      }
      & > li:nth-child(1) .img {
        background: var(--blue100);
        border: 4px solid var(--white110-transperent-60);
        border-radius: 20px;
      }
      & > li:nth-child(2) .img {
        background: var(--green100);
        border: 4px solid var(--white110-transperent-60);
        border-radius: 20px;
      }
      & > li:nth-child(3) .img {
        background: var(--orange100);
        border: 4px solid var(--white110-transperent-60);
        border-radius: 20px;
      }
    }
  }
}
