.upload {
  margin-top: 40px;
  &__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    color: var(--black100);
    margin-bottom: 10px;
    text-align: center;
  }
  &__subTitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--black50);
    text-align: center;
    a {
      color: var(--pink100);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__img {
    cursor: pointer;
    margin-top: 40px;
    height: 320px;
    background: var(--white100);
    border: 2px dashed var(--pink50);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__none {
      position: relative;
      p {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        width: 382px;
        strong {
          color: var(--black100);
        }
        color: var(--black50);
      }
      svg path {
        fill: var(--white110);
      }
    }
    input {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
    }
    img {
      max-width: 558px;
      height: 280px;
      border-radius: 20px;
    }
  }
  &__controls {
    margin: 20px 0;
    &__none {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: var(--black50);
      text-align: center;
    }
    &__full {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: var(--black50);
      }
      button {
        cursor: pointer;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
        color: var(--white110);
        background: var(--pink100);
        border: 1px solid var(--pink100);
        border-radius: 10px;
        padding: 12px 30px;
        &:hover {
          color: var(--pink100);
          border-color: var(--pink100);
          background: var(--white110);
        }
        &:disabled {
          cursor: no-drop;
        }
      }
    }
  }
  &__status {
    background: var(--white100);
    border-radius: 10px;
    padding: 18px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: var(--black50);
    }
  }
}
