.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  &__item {
    padding: 0 20px;
    height: 40px;
    background: var(--pink100);
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 2px;
    color: var(--static-white110);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
      background: var(--pink50);
      border-radius: 10px;
      color: var(--pink100);
    }
  }
}
