.breeds {
  &__btn__sort {
    all: unset;
    background: var(--white100);
    border-radius: 10px;
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      border: 2px solid var(--pink50);
      svg path {
        fill: var(--pink100);
      }
    }
  }
}
