.search-ui {
  width: 395px;
  height: 60px;
  padding: 10px 10px 10px 20px;
  background: var(--white110);
  border-radius: 20px;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: border 0.3s ease-out;
  & > * {
    border: none;
    outline: none;
    background: none;
  }
  & > input {
    flex: 2;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--black100);
    &::placeholder {
      color: var(--black50);
    }
  }
  &:hover {
    border: 2px solid var(--pink50);
  }
  &:focus-visible,
  &:active,
  &:focus-within {
    border: 2px solid var(--pink100);
  }
}
